* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 980px;
    height: 980px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    background-color: rgb(20, 20, 20);
    justify-content: space-around;
    height: 74px;
    border-top: 7.5px solid rgb(130, 31, 211);
    margin-bottom: 32px;
}

.nav h1 {
    color: white;
    font-size: 60;
    font-weight: 400;
}

.login-btn {
    background-color: rgb(130, 31, 211);
    border-color: black;
    color: rgb(233, 231, 231);
    padding: 5.1px 16.4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 0%;
    box-shadow: 2.9px 2.9px black;
}

.searchbar {
    padding: 3.1px;
    width: 455px;
    height: 13.8px;
    border-radius: 4px;
    padding-left: 8px;
}

.columns {
    display: flex;
}

.col-3 {
    flex: 3;
}

.col-2 {
    flex: 2;
    margin-left: 40px;
}

/* .video-pic {
    width: 670px;
    margin-right: 33px;
} */

.col-2 h3 {
    padding-top: 3.5px;
    padding-bottom: 11.5px;
    border-bottom: 2.97px solid rgb(70, 69, 69);
    margin-left: 20px;
    margin-bottom: 24px;
    font-size: ;
    font-weight: 430;
    position: relative; right: 20px;
}

.col-3 video {
    margin-bottom: 17.5px;
}

.avatar-s {
    height: 43.5px;
    padding-left: 2.5px;
    padding-top: 0;
    position: relative; top: 18.5px;
    margin-top: -4.5px;
}

.video-tags h1 {
    font-size: 28px;
    font-weight: 345;
    margin-bottom: 5.1px;
}

.video-tags h3 {
    font-size: 15px;
    font-weight: 536;
    margin-bottom: 0px;
    color: rgb(70, 69, 69);
}

.user span {
    font-size: 17px;
    font-weight: 342;
}

.video-info {
    display: flex;
    justify-content: space-between;
}

.sus-btn {
    background-color: rgb(130, 31, 211);
    border-color: black;
    color: rgb(233, 231, 231);
    padding: 5.1px 16.4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 0%;
    box-shadow: 2.2px 2.2px black;
    position: relative; right: 18.5px;
}

.sus p {
    color:white;
    font-size: 1px;
    margin-bottom: 15px;
}

.rsvids {
    display: flex;
    margin-bottom: 16.7px;
}

.rsvids h4 {
    padding-left: 10px;
    font-size: 17.5px;
    font-weight: 322;
}








